<?xml version="1.0" encoding="utf-8"?>
<!-- Attention, Activate a function should be checked First with Debug Options -->
<Configuration>
    <debug>false</debug>
    <LogFile Name="D:\NoBackup\HFO-AutomationKennwortbriefe\HFO-AutomationKennwortbriefe.log" />
    <SearchPathADUser Name="OU=Benutzer,OU=HFO,DC=itshessen,DC=hessen,DC=de" />
    <GroupUser samAccountName="sicHFObenutzer" ObjectSid="" />
</Configuration>