<?xml version="1.0" encoding="utf-8"?>
<!-- Attention, Activate a function should be checked First with Debug Options -->
<Configuration>
    <debug>false</debug>
    <whatif>true</whatif>
    <GroupUser samAccountName="sicHFObenutzer" ObjectSid="" maxobjects="500" />
    <LogFile Name="HFO-AutomationKennwortbriefe.log" Path="D:\NoBackup\HFO-AutomationKennwortbriefe" />
    <Mail Server="smtp.hfo.itshessen.hessen.de" Sender="hfsystec@forst.hessen.de" Receiver="markus.zierer@forst.hessen.de" />
    <SearchPathADUser Name="OU=Benutzer,OU=HFO,DC=itshessen,DC=hessen,DC=de" />
    <SearchStringFA Name="sicHFOmitarbfa" />
    <Telefonliste FileName="Telefonverzeichnis.xls" />
    <Benutzerliste FileName="User_HF.xlsx" />
</Configuration>